@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/playfair-display.eot'); /* IE9 Compat Modes */
    src: url('fonts/playfair-display.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/playfair-display.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/playfair-display.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/playfair-display.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/playfair-display.svg#playfair-display') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/ubuntu.eot'); /* IE9 Compat Modes */
    src: url('fonts/ubuntu.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/ubuntu.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/ubuntu.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/ubuntu.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/ubuntu.svg#ubuntu') format('svg'); /* Legacy iOS */
         font-weight: 300;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
}

.container {
    width: 900px;
    margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    white-space:nowrap;
    clip-path:inset(100%);
    clip: rect(0 0 0 0);
    overflow:hidden;
}

.page-nav {
    padding: 68px 0 100px;
}

/* jystifying with text-align */
.site-navigation {
    list-style: none;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    padding: 0;
    font-size: 0;
}

.site-navigation li a {
    display: block;
    color: rgb(98, 98, 98);
    text-decoration: none;
}

.site-navigation li a:hover, .site-navigation li a:focus {
    color: rgb(65, 190, 246);
}

.menu-list-item {
    display: inline-block;
    position: relative;
    list-style: none;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
}

.menu-list-item:not(:last-child) {
    margin-right: 60px;
}

.main-section {
    padding: 0 0 20px;
    margin: 0;
    font-size: 0;
}

.article-list {
    font-size: 0;
    margin: 0 0 46px;
    padding: 0;
    font-size: 0;
}

.article-item {
    display: inline-block;
    margin: 0 0 36px;
    padding: 0;
    width: 420px;
    font-size: 0;
}

/* setting rules for odd, first two and last two elements*/
.article-item:nth-child(odd) {
    margin-right: 60px;
}

.article-item:nth-last-child(-n+2) {
    margin-bottom: 0;
} 

.article-image {
    display: block;
    min-width: 420px;
    max-width: 420px;
    min-height: 280px;
    max-height: 280px;
    margin-bottom: 32px;
}

.article-tag {
    font-family: "Ubuntu";
    font-size: 14px;
    font-weight: 300;
    color: rgb(180, 173, 158);
    text-transform: uppercase;
    margin: 0 0 26px;
    padding: 0;
}

.article-title {
    margin: 0 0 32px;
    padding: 0;
    font-size: 30px;
    font-weight: normal;
}

.article-text {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    width: 420px;
}

.btn {
    margin: 0 auto;
    border: 1px solid rgb( 98, 98, 98 );
    padding: 18px 32px;
    background-color: #ffffff;
    color: rgb( 98, 98, 98 );
    font-size: 20px;
    line-height: 24px;
    display: block;
    cursor: pointer;
}


  
