@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,900&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.page-nav {
  padding: 36px 0;
  margin-bottom: 70px;
}

.page-logo {
  display: inline-block;
}

.site-navigation {
  float: right;
  list-style: none;
  margin: 3px 0 0;
  padding: 0;
}

.menu-list-item {
  float: left;
  list-style: none;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
}

.menu-list-item:not(:last-child) {
  margin-right: 25px;
}

.menu-list-item a {
  display: block;
  color: rgb(98, 98, 98);
  text-decoration: none;
}

.menu-list-item a:focus,
.menu-list-item a:hover {
  color: rgb(78, 198, 171);
}

.products-section {
  margin: 0;
  padding: 0;
}

.product-section-title {
  font-family: "Roboto";
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: rgb(81, 81, 81);
  margin: 0 0 30px;
  padding: 0;
}

.product-section-line {
  width: 160px;
  height: 8px;
  background-color: rgb(78, 198, 171);
  border: none;
  margin: 0 auto 90px;
  padding: 0;
}

.product-list {
  margin: 0 0 104px;
  padding: 0;
}

.product-list-item {
  float: left;
  list-style: none;
  width: 256px;
  height: 322px;
}

.product-list-item:not(:nth-child(4n)) {
  margin-right: 28px;
}

.product-list-item:not(:nth-last-child(-n + 4)) {
  margin-bottom: 30px;
}

.image-box {
  float: left;
  width: 256px;
  height: 286px;
}

.product-tools-woman-shoes {
    background: url("../img/products/woman-shoes.png") no-repeat center center,
    rgb(233, 240, 253);    
}

.product-tools-belt {
    background: url("../img/products/belt.png") no-repeat center center,
    rgb(233, 240, 253);
}

.product-tools-hat {
    background: url("../img/products/hat.png") no-repeat center center,
    rgb(233, 240, 253);
}

.product-tools-beg {
    background: url("../img/products/beg.png") no-repeat center center,
    rgb(233, 240, 253);
}

.product-tools-black-beg {
    background: url("../img/products/black-beg.png") no-repeat center center,
    rgb(233, 240, 253);
}

.product-tools-black-belt {
    background: url("../img/products/black-belt.png") no-repeat center center,
    rgb(233, 240, 253);
}

.product-tools-shoes {
    background: url("../img/products/shoes.png") no-repeat center center,
    rgb(233, 240, 253);
}

.product-tools-glasses {
    background: url("../img/products/glasses.png") no-repeat center center,
    rgb(233, 240, 253);
}

.product-image {
  background-color: rgb(233, 240, 253);
  display: block;
  margin: 0 auto;
  vertical-align: middle;
}

.product-details {
  float: left;
  margin: 0;
  padding: 0;
  width: 300;
  height: 50;
}

.product-name {
  float: left;
  list-style: none;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  background-color: rgb(50, 50, 50);
  width: 202px;
  height: 40px;
  padding: 10px 12px;
}

.product-price {
  float: left;
  list-style: none;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 900;
  color: white;
  background-color: rgb(140, 140, 140);
  width: 54px;
  height: 40px;
  padding: 10px 12px;
}

.product-details:hover .product-name {
  background-color: rgb(78, 198, 171);
}

.product-details:hover .product-price {
  background-color: rgb(127, 217, 199);
}

.news-section {
    margin: 0;
    padding: 0 0 46px;
}

.news-section-title {
  font-family: "Roboto";
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  color: rgb(81, 81, 81);
  text-transform: uppercase;
  margin: 0 0 30px;
  padding: 0;
}

.news-section-line {
  width: 160px;
  height: 8px;
  background-color: rgb(78, 198, 171);
  border: none;
  margin: 0 auto 80px;
  padding: 0;
}

.news-list {
  margin: 0 0 18px;
  padding: 0;
}

.news-list-item {
  width: 350px;
  height: 500px;
  float: left;
  list-style: none;
}

.news-list-item:not(:last-child) {
  margin-right: 30px;
}

.news-image {
  min-width: 350px;
  max-width: 350px;
  min-height: 260px;
  max-height: 260px;
  margin: 0 0 20px;
}

.news-description {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  margin: 0 0 4px;
  padding: 0;
}

.news-hr {
  width: 136px;
  height: 3px;
  background-color: rgb(78, 198, 171);
  border: none;
  margin: 0 0 30px;
}

.news-text {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 6px;
  padding: 0;
}

.read-more-btn {
  font-family: "Open Sans";
  font-size: 16;
  font-weight: 300;
  line-height: 26px;
  background-color: rgb(78, 198, 171);
  padding: 18px 42px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}