@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/playfair-display.eot'); /* IE9 Compat Modes */
    src: url('fonts/playfair-display.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/playfair-display.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/playfair-display.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/playfair-display.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/playfair-display.svg#playfair-display') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/ubuntu.eot'); /* IE9 Compat Modes */
    src: url('fonts/ubuntu.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/ubuntu.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/ubuntu.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/ubuntu.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/ubuntu.svg#ubuntu') format('svg'); /* Legacy iOS */
         font-weight: 300;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    background-image: linear-gradient(to right, rgba(234, 234, 234, 0.9), rgba(219, 219, 219, 0.9), rgba(242, 242, 242, 0.9), rgba(173, 169, 150, 0.9)),
    url('../img/background/sky.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    white-space:nowrap;
    clip-path:inset(100%);
    clip: rect(0 0 0 0);
    overflow:hidden;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.page-nav {
    padding: 68px 0;
}


.site-navigation {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 630px;
    padding: 0;
    counter-reset: my-counter;
}

.site-navigation li {
    float: left;
    list-style: none;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
}

.site-navigation li a {
    color: rgb(98, 98, 98);
    text-decoration: none;
}

.site-navigation li a:focus, .site-navigation li a:hover {
    color: rgb(65, 190, 246);
}

.menu-list-item:not(:last-child) {
    margin-right: 90px;
}

.menu-list-item::before {
    counter-increment: my-counter;
    content: counter(my-counter) ". ";
}

.article-box {
    float: left;
    margin: 0 0 40px;
    border: 1px solid;
    padding: 15px;
    width: 418px;
    box-shadow: 10px 10px;
}

/* setting rules for odd, even, first two and last two elements*/
.article-box:nth-child(odd) {
    margin-right: 28px;
}

.article-box:nth-child(even) {
    margin-left: 28px;
}

.article-box:nth-child(-n+2) {
    margin-top: 32px;
}

.article-box:nth-last-child(-n+2) {
    margin-bottom: 46px;
} 

.article-image {
    display: block;
    margin: 0;
    min-width: 384px;
    max-width: 384px;
    min-height: 256px;
    max-height: 256px;
    margin-bottom: 32px;
}

.article-box:hover .article-image {
    
    -webkit-filter: sepia(40%);
    filter: sepia(40%);
}

.article-tag {
    font-family: "Ubuntu";
    font-size: 14px;
    font-weight: 300;
    color: rgb(180, 173, 158);
    text-transform: uppercase;
    margin: 0 0 26px;
    padding: 0;
}

.article {
    margin: 0;
    padding: 0;
}

.article-title {
    margin: 0 0 32px;
    padding: 0;
    font-size: 28px;
    font-weight: normal;
}

.article-text {
    margin: 0 0 36px;
    font-size: 14px;
    line-height: 24px;
}

.btn {
    margin: 0 auto 20px;
    border: 1px solid rgb( 98, 98, 98 );
    padding: 18px 32px;
    background-color: #ffffff;
    color: rgb( 98, 98, 98 );
    background: rgb(211, 209, 209);
    line-height: 24px;
    display: block;
    cursor: pointer;
}


  