/* montserrat-regular - latin */
@font-face {
    font-family: "Montserrat Reg";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat Regular"), local("Montserrat-Regular"),
        url("./fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("./fonts/montserrat-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
    font-family: "Montserrat Bold";
    font-style: normal;
    font-weight: 700;
    src: local("Montserrat Bold"), local("Montserrat-Bold"),
        url("./fonts/montserrat-v14-latin-700.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("./fonts/montserrat-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300 - latin */
@font-face {
    font-family: "Roboto Light";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"), local("Roboto-Light"),
        url("./fonts/roboto-v20-latin-300.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("./fonts/roboto-v20-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
    font-family: "Roboto Reg";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"),
        url("./fonts/roboto-v20-latin-regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("./fonts/roboto-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --red-color: rgb(255, 78, 80);
    --yellow-color: rgb(255, 165, 7);
    --green-color: rgb(28, 215, 173);
    --blue-color: rgb(78, 115, 219);
    --black-color: rgb(51, 51, 51);
    --grey-color: rgb(102, 102, 102);
}

html {
    box-sizing: border-box;
    size-font: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.img {
    width: 100%;
    height: auto;
}

.page-header {
    background-color: aqua;
    min-width: 320px;
    background: url("../img/banner/banner1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 20px 0 138px;
}

.logo-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login {
    width: 90px;
    height: 36px;
    border-radius: 18px;
    background-color: rgba(26, 25, 21, 0);
    border: 2px solid transparent;
    font-family: "Montserrat Bold";
    font-size: 14px;
    color: white;
    outline: none;
    cursor: pointer;
}

.login:hover,
.login:focus {
    border: 2px solid rgb(255, 255, 255);
}

.signup {
    width: 90px;
    height: 36px;
    border-radius: 18px;
    background-color: rgba(26, 25, 21, 0);
    border: 2px solid transparent;
    font-family: "Montserrat Bold";
    font-size: 14px;
    color: white;
    outline: none;
    cursor: pointer;
}

.signup:hover,
.signup:focus {
    border: 2px solid rgb(255, 255, 255);
}

.starting-title {
    font-family: "Montserrat Bold";
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 4px;
}

.starting-description {
    font-family: "Roboto Light";
    font-size: 18px;
    color: white;
    text-align: center;
    margin-bottom: 14px;
}

.starting-button {
    font-family: "Montserrat Bold";
    font-size: 14px;
    color: var(--red-color);
    min-width: 280px;
    padding: 12px 0;
    border-radius: 20px;
    color: white;
    background-color: var(--red-color);
    border: 2px solid rgb(255, 77, 79);
    display: block;
    margin: 0 auto;
    outline: none;
    cursor: pointer;
}

.starting-button:hover {
    background-color: white;
    color: var(--red-color);
}

.partners-section {
    padding: 70px 0 56px;
}

.partners-section-title {
    font-family: "Montserrat Bold";
    font-size: 22px;
    color: var(--black-color);
    text-align: center;
    color: rgb(51, 51, 51);
    margin-bottom: 20px;
}

.photo-box {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: #fbfbfb;
    margin: 0 auto 18px;
}

.photo-box::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    border: 4px solid white;
    width: 32px;
    height: 32px;
    background-size: 16px 16px;
}

.partner-foto {
    border-radius: 50%;
}

.icon-1::after {
    background-image: url("../img/icons/tv.png");
    background-color: var(--red-color);
}

.icon-2::after {
    background-image: url("../img/icons/bulb.png");
    background-color: var(--yellow-color);
}

.icon-3::after {
    background-image: url("../img/icons/cup.png");
    background-color: var(--green-color);
}

.icon-4::after {
    background-image: url("../img/icons/plane.png");
    background-color: var(--blue-color);
}

.partner-name {
    font-family: "Montserrat Bold";
    font-size: 14px;
    color: var(--black-color);
    margin-bottom: 16px;
    text-align: center;
}

.partner-info {
    font-family: "Roboto Light";
    font-size: 14px;
    color: var(--grey-color);
    text-align: center;
}

.marginer-1 {
    margin-bottom: 26px;
}

.marginer-2 {
    margin-bottom: 26px;
}

.see-others-btn {
    font-family: "Montserrat Bold";
    font-size: 14px;
    color: var(--red-color);
    min-width: 280px;
    padding: 12px 0;
    border-radius: 20px;
    color: white;
    background-color: var(--red-color);
    border: 2px solid rgb(255, 77, 79);
    display: block;
    margin: 0 auto;
    outline: none;
    cursor: pointer;
}

.see-others-btn:hover {
    background-color: white;
    color: var(--red-color);
}

@media (max-width: 767px) {

    .logo-link {
        margin-bottom: 36px;
    }

    .login {
        margin-bottom: 154px;
    }

    .signup {
        margin-bottom: 154px;
    }

    .partner-info {
        max-width: 250px;
        margin: 0 auto 26px;
    }
}

@media (min-width: 768px) {

    .page-header {
        background: url("../img/banner/banner1_m.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 50px;
    }

    .logo-link {
        margin-bottom: 154px;
    }

    .login {
        margin-bottom: 154px;
    }

    .signup {
        margin-bottom: 154px;
    }

    .starting-title {
        font-size: 52px;
        max-width: 600px;
        margin-bottom: 32px;
    }

    .starting-description {
        font-size: 24px;
        margin-bottom: 28px;
    }

    .marginer-2 {
        margin-bottom: 38px;
    }
}

@media (min-width: 960px) {

    .page-header {
        background: url("../img/banner/banner1_b.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .marginer-1 {
        margin-bottom: 38px;
    }
    
}
